In [ ]:

# may 2021  Mayur Pondkule

student="VIIT"
if student=="VIIT":
    print("welcome to PE class")
    print("hi")


print("try again ")
print("hi")

try again
hi

In [ ]:
import numpy as np
arr1=[1,2]
arr2=[3,4]
add_val=np.add(arr1,arr2)

In [ ]:
student="VIT"
if student=="VIIT":
    print("welcome to PE class")
    print("hi")

print("try again ")
print("hi")

try again
hi

In [ ]:
x,y=23,45

if x>y:
    print("x is greater than y")

elif x<y:                                         #else if
    print("x is smaller than y")

else:
    print("x and y are equal")

x is smaller than y

In [ ]:
marks=float(input('enter your marks'))

if marks>=75:
  print("distinction") 
elif marks>=60:
  print("first class")
elif marks>=50:
  print("second class")
elif marks>=40:
  print("pass class")
else:
  print("fail")

enter your marks76
distinction

In [ ]:
x=input("enter your name:")
print("hello ,"+x)

enter your name:Mayur
hello ,Mayur

In [ ]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [ ]:
num1=int(input("enter num1"))
num2=int(input("enter num2"))
num3=int(input("enter num3"))



if num1>num2 and num1>4num3:
     print("largest is num1=",num1)

elif num2>num1 and num2>num3:
     print("largest is num2",num2)

else:
      print("largest is num3",num3)

enter num12
enter num2444
enter num35
largest is num2 444

In [ ]:

for i in reversed(range(1,11)):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#addition of 10 natural number

add=0
for i in range(1,11):
    add=add+i
else:
    print(add)

55